/* header.css */
header {
    background: #008b8b;
    color: #f0fff0;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .link {
    color: #f0fff0;
    text-decoration: none;
    padding: 10px;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #008b8b;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
  }
  
  .dropdown-visible {
    display: flex;
  }
  
  .dropdown-item {
    color: #f0fff0;
    text-decoration: none;
    padding: 10px;
    display: auto;
  }
  
  .hamburger {
    display: auto;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #f0fff0;
    margin: 4px 0;
  }
  
  .responsive-nav {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #008b8b;
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .nav {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  
    .responsive-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  @media (min-width: 769px) {
    .responsive-nav {
      display: auto;
    }
  }
  